
<div class="container position-absolute top-50 start-50 translate-middle shadow p-3 mb-5 bg-body rounded">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input formControlName="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <span class="text-danger" *ngIf="registerForm.controls['username'].dirty && registerForm.hasError('required', 'username')">Username is required</span>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <span class="text-danger" *ngIf="registerForm.controls['email'].dirty && registerForm.hasError('required', 'email')">Email is required</span>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
          <span class="text-danger" *ngIf="registerForm.controls['password'].dirty && registerForm.hasError('required', 'password')">Password is required</span>
        </div>
        <label class="exist_user">Already have an account? <a href="" routerLink="/login">Login</a></label>
        <button type="submit" [disabled]="!registerForm.valid" class="btn btn-success">Register</button>
      </form>
</div>